@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/satoshi/Satoshi-Variable.woff2") format("woff2");

  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/satoshi/Satoshi-VariableItalic.woff2")
    format("woff2");

  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("../assets/fonts/switzer/Switzer-Variable.woff2") format("woff2");

  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("../assets/fonts/switzer/Switzer-VariableItalic.woff2")
    format("woff2");

  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}
